$border-total-rounded: 10*100px;

$soft-radius: 10px;
$sharp-radius: 4px;
$rounded-radius: $border-total-rounded;

$btn-padding: 6px 15px;
$btn-padd-vertical: 6px;
$btn-padd-horizontal: 15px;

$border-width: 1px;

$transition-time: .3s ease;