@font-face {
  font-family: Roboto-Black;
  src: url("../assets/fonts/Roboto-family/Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/fonts/Roboto-family/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../../fonts/Roboto-family/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url("../../fonts/Roboto-family/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../../fonts/Roboto-family/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url("../../fonts/Roboto-family/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../../fonts/Roboto-family/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../../fonts/Roboto-family/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../../fonts/Roboto-family/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../../fonts/Roboto-family/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../../fonts/Roboto-family/Roboto-ThinItalic.ttf");
}

html, body {
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.root_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
