:root {
  /* main color */
  --main-hue-100-alpha: rgba(29, 85, 117, 1);
  --main-hue-90-alpha: rgba(29, 85, 117, 0.9);
  --main-hue-80-alpha: rgba(29, 85, 117, 0.8);
  --main-hue-70-alpha: rgba(29, 85, 117, 0.7);
  --main-hue-60-alpha: rgba(29, 85, 117, 0.6);
  --main-hue-50-alpha: rgba(29, 85, 117, 0.5);
  --main-hue-40-alpha: rgba(29, 85, 117, 0.4);
  --main-hue-30-alpha: rgba(29, 85, 117, 0.3);
  --main-hue-20-alpha: rgba(29, 85, 117, 0.2);
  --main-hue-10-alpha: rgba(29, 85, 117, 0.1);
  --main-hue-06-alpha: rgba(29, 85, 117, 0.06);
  /* contrast color */
  --contrast-hue-100-alpha: rgba(255, 255, 255, 1);
  --contrast-hue-90-alpha: rgba(255, 255, 255, 0.9);
  --contrast-hue-80-alpha: rgba(255, 255, 255, 0.8);
  --contrast-hue-70-alpha: rgba(255, 255, 255, 0.7);
  --contrast-hue-60-alpha: rgba(255, 255, 255, 0.6);
  --contrast-hue-50-alpha: rgba(255, 255, 255, 0.5);
  --contrast-hue-40-alpha: rgba(255, 255, 255, 0.4);
  --contrast-hue-30-alpha: rgba(255, 255, 255, 0.3);
  --contrast-hue-20-alpha: rgba(255, 255, 255, 0.2);
  --contrast-hue-10-alpha: rgba(255, 255, 255, 0.1);
  --contrast-hue-06-alpha: rgba(255, 255, 255, 0.06);
  /* success color */
  --success-hue-100-alpha: rgba(90, 206, 70, 1);
  --success-hue-90-alpha: rgba(90, 206, 70, 0.9);
  --success-hue-80-alpha: rgba(90, 206, 70, 0.8);
  --success-hue-70-alpha: rgba(90, 206, 70, 0.7);
  --success-hue-60-alpha: rgba(90, 206, 70, 0.6);
  --success-hue-50-alpha: rgba(90, 206, 70, 0.5);
  --success-hue-40-alpha: rgba(90, 206, 70, 0.4);
  --success-hue-30-alpha: rgba(90, 206, 70, 0.3);
  --success-hue-20-alpha: rgba(90, 206, 70, 0.2);
  --success-hue-10-alpha: rgba(90, 206, 70, 0.1);
  --success-hue-06-alpha: rgba(90, 206, 70, 0.06);
  /* warning color */
  --warning-hue-100-alpha: rgba(255, 199, 0, 1);
  --warning-hue-90-alpha: rgba(255, 199, 0, 0.9);
  --warning-hue-80-alpha: rgba(255, 199, 0, 0.8);
  --warning-hue-70-alpha: rgba(255, 199, 0, 0.7);
  --warning-hue-60-alpha: rgba(255, 199, 0, 0.6);
  --warning-hue-50-alpha: rgba(255, 199, 0, 0.5);
  --warning-hue-40-alpha: rgba(255, 199, 0, 0.4);
  --warning-hue-30-alpha: rgba(255, 199, 0, 0.3);
  --warning-hue-20-alpha: rgba(255, 199, 0, 0.2);
  --warning-hue-10-alpha: rgba(255, 199, 0, 0.1);
  --warning-hue-06-alpha: rgba(255, 199, 0, 0.06);
  /* danger color */
  --danger-hue-100-alpha: rgba(173, 28, 48, 1);
  --danger-hue-90-alpha: rgba(173, 28, 48, 0.9);
  --danger-hue-80-alpha: rgba(173, 28, 48, 0.8);
  --danger-hue-70-alpha: rgba(173, 28, 48, 0.7);
  --danger-hue-60-alpha: rgba(173, 28, 48, 0.6);
  --danger-hue-50-alpha: rgba(173, 28, 48, 0.5);
  --danger-hue-40-alpha: rgba(173, 28, 48, 0.4);
  --danger-hue-30-alpha: rgba(173, 28, 48, 0.3);
  --danger-hue-20-alpha: rgba(173, 28, 48, 0.2);
  --danger-hue-10-alpha: rgba(173, 28, 48, 0.1);
  --danger-hue-06-alpha: rgba(173, 28, 48, 0.06);
}

:root .primary-06_bckg {
  background-color: var(--main-hue-06-alpha) !important;
}

:root .primary-10_bckg {
  background-color: var(--main-hue-10-alpha) !important;
}

:root .primary-20_bckg {
  background-color: var(--main-hue-20-alpha) !important;
}

:root .primary-30_bckg {
  background-color: var(--main-hue-30-alpha) !important;
}

:root .primary-40_bckg {
  background-color: var(--main-hue-40-alpha) !important;
}

:root .primary-50_bckg {
  background-color: var(--main-hue-50-alpha) !important;
}

:root .primary-60_bckg {
  background-color: var(--main-hue-60-alpha) !important;
}

:root .primary-70_bckg {
  background-color: var(--main-hue-70-alpha) !important;
}

:root .primary-80_bckg {
  background-color: var(--main-hue-80-alpha) !important;
}

:root .primary-90_bckg {
  background-color: var(--main-hue-90-alpha) !important;
}

:root .primary-100_bckg {
  background-color: var(--main-hue-100-alpha) !important;
}

:root .primary-06_border {
  border-color: var(--main-hue-06-alpha) !important;
}

:root .primary-10_border {
  border-color: var(--main-hue-10-alpha) !important;
}

:root .primary-20_border {
  border-color: var(--main-hue-20-alpha) !important;
}

:root .primary-30_border {
  border-color: var(--main-hue-30-alpha) !important;
}

:root .primary-40_border {
  border-color: var(--main-hue-40-alpha) !important;
}

:root .primary-50_border {
  border-color: var(--main-hue-50-alpha) !important;
}

:root .primary-60_border {
  border-color: var(--main-hue-60-alpha) !important;
}

:root .primary-70_border {
  border-color: var(--main-hue-70-alpha) !important;
}

:root .primary-80_border {
  border-color: var(--main-hue-80-alpha) !important;
}

:root .primary-90_border {
  border-color: var(--main-hue-90-alpha) !important;
}

:root .primary-100_border {
  border-color: var(--main-hue-100-alpha) !important;
}

:root .primary-06_color {
  color: var(--main-hue-06-alpha) !important;
}

:root .primary-10_color {
  color: var(--main-hue-10-alpha) !important;
}

:root .primary-20_color {
  color: var(--main-hue-20-alpha) !important;
}

:root .primary-30_color {
  color: var(--main-hue-30-alpha) !important;
}

:root .primary-40_color {
  color: var(--main-hue-40-alpha) !important;
}

:root .primary-50_color {
  color: var(--main-hue-50-alpha) !important;
}

:root .primary-60_color {
  color: var(--main-hue-60-alpha) !important;
}

:root .primary-70_color {
  color: var(--main-hue-70-alpha) !important;
}

:root .primary-80_color {
  color: var(--main-hue-80-alpha) !important;
}

:root .primary-90_color {
  color: var(--main-hue-90-alpha) !important;
}

:root .primary-100_color {
  color: var(--main-hue-100-alpha) !important;
}

:root .contrast-06_bckg {
  background-color: var(--contrast-hue-06-alpha) !important;
}

:root .contrast-10_bckg {
  background-color: var(--contrast-hue-10-alpha) !important;
}

:root .contrast-20_bckg {
  background-color: var(--contrast-hue-20-alpha) !important;
}

:root .contrast-30_bckg {
  background-color: var(--contrast-hue-30-alpha) !important;
}

:root .contrast-40_bckg {
  background-color: var(--contrast-hue-40-alpha) !important;
}

:root .contrast-50_bckg {
  background-color: var(--contrast-hue-50-alpha) !important;
}

:root .contrast-60_bckg {
  background-color: var(--contrast-hue-60-alpha) !important;
}

:root .contrast-70_bckg {
  background-color: var(--contrast-hue-70-alpha) !important;
}

:root .contrast-80_bckg {
  background-color: var(--contrast-hue-80-alpha) !important;
}

:root .contrast-90_bckg {
  background-color: var(--contrast-hue-90-alpha) !important;
}

:root .contrast-100_bckg {
  background-color: var(--contrast-hue-100-alpha) !important;
}

:root .contrast-06_border {
  border-color: var(--contrast-hue-06-alpha) !important;
}

:root .contrast-10_border {
  border-color: var(--contrast-hue-10-alpha) !important;
}

:root .contrast-20_border {
  border-color: var(--contrast-hue-20-alpha) !important;
}

:root .contrast-30_border {
  border-color: var(--contrast-hue-30-alpha) !important;
}

:root .contrast-40_border {
  border-color: var(--contrast-hue-40-alpha) !important;
}

:root .contrast-50_border {
  border-color: var(--contrast-hue-50-alpha) !important;
}

:root .contrast-60_border {
  border-color: var(--contrast-hue-60-alpha) !important;
}

:root .contrast-70_border {
  border-color: var(--contrast-hue-70-alpha) !important;
}

:root .contrast-80_border {
  border-color: var(--contrast-hue-80-alpha) !important;
}

:root .contrast-90_border {
  border-color: var(--contrast-hue-90-alpha) !important;
}

:root .contrast-100_border {
  border-color: var(--contrast-hue-100-alpha) !important;
}

:root .contrast-06_color {
  color: var(--contrast-hue-06-alpha) !important;
}

:root .contrast-10_color {
  color: var(--contrast-hue-10-alpha) !important;
}

:root .contrast-20_color {
  color: var(--contrast-hue-20-alpha) !important;
}

:root .contrast-30_color {
  color: var(--contrast-hue-30-alpha) !important;
}

:root .contrast-40_color {
  color: var(--contrast-hue-40-alpha) !important;
}

:root .contrast-50_color {
  color: var(--contrast-hue-50-alpha) !important;
}

:root .contrast-60_color {
  color: var(--contrast-hue-60-alpha) !important;
}

:root .contrast-70_color {
  color: var(--contrast-hue-70-alpha) !important;
}

:root .contrast-80_color {
  color: var(--contrast-hue-80-alpha) !important;
}

:root .contrast-90_color {
  color: var(--contrast-hue-90-alpha) !important;
}

:root .contrast-100_color {
  color: var(--contrast-hue-100-alpha) !important;
}

:root .success-06_bckg {
  background-color: var(--success-hue-06-alpha) !important;
}

:root .success-10_bckg {
  background-color: var(--success-hue-10-alpha) !important;
}

:root .success-20_bckg {
  background-color: var(--success-hue-20-alpha) !important;
}

:root .success-30_bckg {
  background-color: var(--success-hue-30-alpha) !important;
}

:root .success-40_bckg {
  background-color: var(--success-hue-40-alpha) !important;
}

:root .success-50_bckg {
  background-color: var(--success-hue-50-alpha) !important;
}

:root .success-60_bckg {
  background-color: var(--success-hue-60-alpha) !important;
}

:root .success-70_bckg {
  background-color: var(--success-hue-70-alpha) !important;
}

:root .success-80_bckg {
  background-color: var(--success-hue-80-alpha) !important;
}

:root .success-90_bckg {
  background-color: var(--success-hue-90-alpha) !important;
}

:root .success-100_bckg {
  background-color: var(--success-hue-100-alpha) !important;
}

:root .success-06_border {
  border-color: var(--success-hue-06-alpha) !important;
}

:root .success-10_border {
  border-color: var(--success-hue-10-alpha) !important;
}

:root .success-20_border {
  border-color: var(--success-hue-20-alpha) !important;
}

:root .success-30_border {
  border-color: var(--success-hue-30-alpha) !important;
}

:root .success-40_border {
  border-color: var(--success-hue-40-alpha) !important;
}

:root .success-50_border {
  border-color: var(--success-hue-50-alpha) !important;
}

:root .success-60_border {
  border-color: var(--success-hue-60-alpha) !important;
}

:root .success-70_border {
  border-color: var(--success-hue-70-alpha) !important;
}

:root .success-80_border {
  border-color: var(--success-hue-80-alpha) !important;
}

:root .success-90_border {
  border-color: var(--success-hue-90-alpha) !important;
}

:root .success-100_border {
  border-color: var(--success-hue-100-alpha) !important;
}

:root .success-06_color {
  color: var(--success-hue-06-alpha) !important;
}

:root .success-10_color {
  color: var(--success-hue-10-alpha) !important;
}

:root .success-20_color {
  color: var(--success-hue-20-alpha) !important;
}

:root .success-30_color {
  color: var(--success-hue-30-alpha) !important;
}

:root .success-40_color {
  color: var(--success-hue-40-alpha) !important;
}

:root .success-50_color {
  color: var(--success-hue-50-alpha) !important;
}

:root .success-60_color {
  color: var(--success-hue-60-alpha) !important;
}

:root .success-70_color {
  color: var(--success-hue-70-alpha) !important;
}

:root .success-80_color {
  color: var(--success-hue-80-alpha) !important;
}

:root .success-90_color {
  color: var(--success-hue-90-alpha) !important;
}

:root .success-100_color {
  color: var(--success-hue-100-alpha) !important;
}

:root .warning-06_bckg {
  background-color: var(--warning-hue-06-alpha) !important;
}

:root .warning-10_bckg {
  background-color: var(--warning-hue-10-alpha) !important;
}

:root .warning-20_bckg {
  background-color: var(--warning-hue-20-alpha) !important;
}

:root .warning-30_bckg {
  background-color: var(--warning-hue-30-alpha) !important;
}

:root .warning-40_bckg {
  background-color: var(--warning-hue-40-alpha) !important;
}

:root .warning-50_bckg {
  background-color: var(--warning-hue-50-alpha) !important;
}

:root .warning-60_bckg {
  background-color: var(--warning-hue-60-alpha) !important;
}

:root .warning-70_bckg {
  background-color: var(--warning-hue-70-alpha) !important;
}

:root .warning-80_bckg {
  background-color: var(--warning-hue-80-alpha) !important;
}

:root .warning-90_bckg {
  background-color: var(--warning-hue-90-alpha) !important;
}

:root .warning-100_bckg {
  background-color: var(--warning-hue-100-alpha) !important;
}

:root .warning-06_border {
  border-color: var(--warning-hue-06-alpha) !important;
}

:root .warning-10_border {
  border-color: var(--warning-hue-10-alpha) !important;
}

:root .warning-20_border {
  border-color: var(--warning-hue-20-alpha) !important;
}

:root .warning-30_border {
  border-color: var(--warning-hue-30-alpha) !important;
}

:root .warning-40_border {
  border-color: var(--warning-hue-40-alpha) !important;
}

:root .warning-50_border {
  border-color: var(--warning-hue-50-alpha) !important;
}

:root .warning-60_border {
  border-color: var(--warning-hue-60-alpha) !important;
}

:root .warning-70_border {
  border-color: var(--warning-hue-70-alpha) !important;
}

:root .warning-80_border {
  border-color: var(--warning-hue-80-alpha) !important;
}

:root .warning-90_border {
  border-color: var(--warning-hue-90-alpha) !important;
}

:root .warning-100_border {
  border-color: var(--warning-hue-100-alpha) !important;
}

:root .warning-06_color {
  color: var(--warning-hue-06-alpha) !important;
}

:root .warning-10_color {
  color: var(--warning-hue-10-alpha) !important;
}

:root .warning-20_color {
  color: var(--warning-hue-20-alpha) !important;
}

:root .warning-30_color {
  color: var(--warning-hue-30-alpha) !important;
}

:root .warning-40_color {
  color: var(--warning-hue-40-alpha) !important;
}

:root .warning-50_color {
  color: var(--warning-hue-50-alpha) !important;
}

:root .warning-60_color {
  color: var(--warning-hue-60-alpha) !important;
}

:root .warning-70_color {
  color: var(--warning-hue-70-alpha) !important;
}

:root .warning-80_color {
  color: var(--warning-hue-80-alpha) !important;
}

:root .warning-90_color {
  color: var(--warning-hue-90-alpha) !important;
}

:root .warning-100_color {
  color: var(--warning-hue-100-alpha) !important;
}

:root .danger-06_bckg {
  background-color: var(--danger-hue-06-alpha) !important;
}

:root .danger-10_bckg {
  background-color: var(--danger-hue-10-alpha) !important;
}

:root .danger-20_bckg {
  background-color: var(--danger-hue-20-alpha) !important;
}

:root .danger-30_bckg {
  background-color: var(--danger-hue-30-alpha) !important;
}

:root .danger-40_bckg {
  background-color: var(--danger-hue-40-alpha) !important;
}

:root .danger-50_bckg {
  background-color: var(--danger-hue-50-alpha) !important;
}

:root .danger-60_bckg {
  background-color: var(--danger-hue-60-alpha) !important;
}

:root .danger-70_bckg {
  background-color: var(--danger-hue-70-alpha) !important;
}

:root .danger-80_bckg {
  background-color: var(--danger-hue-80-alpha) !important;
}

:root .danger-90_bckg {
  background-color: var(--danger-hue-90-alpha) !important;
}

:root .danger-100_bckg {
  background-color: var(--danger-hue-100-alpha) !important;
}

:root .danger-06_border {
  border-color: var(--danger-hue-06-alpha) !important;
}

:root .danger-10_border {
  border-color: var(--danger-hue-10-alpha) !important;
}

:root .danger-20_border {
  border-color: var(--danger-hue-20-alpha) !important;
}

:root .danger-30_border {
  border-color: var(--danger-hue-30-alpha) !important;
}

:root .danger-40_border {
  border-color: var(--danger-hue-40-alpha) !important;
}

:root .danger-50_border {
  border-color: var(--danger-hue-50-alpha) !important;
}

:root .danger-60_border {
  border-color: var(--danger-hue-60-alpha) !important;
}

:root .danger-70_border {
  border-color: var(--danger-hue-70-alpha) !important;
}

:root .danger-80_border {
  border-color: var(--danger-hue-80-alpha) !important;
}

:root .danger-90_border {
  border-color: var(--danger-hue-90-alpha) !important;
}

:root .danger-100_border {
  border-color: var(--danger-hue-100-alpha) !important;
}

:root .danger-06_color {
  color: var(--danger-hue-06-alpha) !important;
}

:root .danger-10_color {
  color: var(--danger-hue-10-alpha) !important;
}

:root .danger-20_color {
  color: var(--danger-hue-20-alpha) !important;
}

:root .danger-30_color {
  color: var(--danger-hue-30-alpha) !important;
}

:root .danger-40_color {
  color: var(--danger-hue-40-alpha) !important;
}

:root .danger-50_color {
  color: var(--danger-hue-50-alpha) !important;
}

:root .danger-60_color {
  color: var(--danger-hue-60-alpha) !important;
}

:root .danger-70_color {
  color: var(--danger-hue-70-alpha) !important;
}

:root .danger-80_color {
  color: var(--danger-hue-80-alpha) !important;
}

:root .danger-90_color {
  color: var(--danger-hue-90-alpha) !important;
}

:root .danger-100_color {
  color: var(--danger-hue-100-alpha) !important;
}

@font-face {
  font-family: Roboto-Black;
  src: url("../assets/fonts/Roboto-family/Roboto-Black.ttf");
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../assets/fonts/Roboto-family/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: Roboto-Italic;
  src: url("../assets/fonts/Roboto-family/Roboto-Italic.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("../assets/fonts/Roboto-family/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-LightItalic.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../assets/fonts/Roboto-family/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../assets/fonts/Roboto-family/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Thin;
  src: url("../assets/fonts/Roboto-family/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url("../assets/fonts/Roboto-family/Roboto-ThinItalic.ttf");
}

html,
body,
* {
  font-size: 16px;
  font-family: Roboto, Roboto-Regular;
  font-style: normal;
}

.bold {
  font-family: Roboto, Roboto-Bold;
  font-weight: bold;
}

.light {
  font-family: Roboto, Roboto-Light;
  font-weight: 100;
}

.normal {
  font-family: Roboto, Roboto-Regular;
  font-weight: normal;
}

.italic {
  font-family: Roboto, Roboto-Italic;
  font-style: italic;
}

.text {
  font-size: 1rem;
}

.sm-text {
  font-size: .8em;
}

h1, .large-text {
  font-size: 2rem;
  font-weight: normal;
}

h2, .semi_large-text {
  font-size: 1.8rem;
  font-weight: normal;
}

h3, .medium-text {
  font-size: 1.5rem;
  font-weight: normal;
}

h4, .semi_base-text {
  font-size: 1.2rem;
  font-weight: normal;
}

h5, .base-text {
  font-size: 1rem;
  font-weight: normal;
}

.a-link {
  color: inherit;
  font-family: Roboto, Roboto-Regular;
  font-weight: normal;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: var(--main-hue-70-alpha);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.a-link::after {
  content: '';
  left: 0;
  bottom: 10px;
  position: absolute;
  height: 2px;
  background-color: var(--main-hue-100-alpha);
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.a-link:hover {
  color: var(--main-hue-100-alpha);
  font-family: Roboto, Roboto-Medium;
  font-weight: bold;
}

.a-link:hover::after {
  bottom: -1px;
  opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus,
button:focus {
  outline: none;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  border: none;
  background: none;
}

html,
body,
* {
  cursor: default;
}

html,
body {
  margin: 0;
  padding: 15px;
  border: 0;
  border: none;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  display: inline;
  -webkit-margin-before: unset;
          margin-block-start: unset;
  -webkit-margin-after: unset;
          margin-block-end: unset;
  -webkit-margin-start: unset;
          margin-inline-start: unset;
  -webkit-margin-end: unset;
          margin-inline-end: unset;
}

.justify-right,
.justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-left,
.justify-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-bottom,
.align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-top,
.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* direction */
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: unset;
  cursor: default;
  background: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0em;
  font: unset;
  padding: unset;
  border: unset;
}

.all-padd {
  padding: 6px 15px;
}

.non-border {
  border-width: 0px !important;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-width: 1px;
  border-style: solid;
  padding: 6px 15px;
  font-size: 1rem;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  cursor: pointer !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  user-select: none !important;
}

.btn-large {
  font-size: 1.5rem !important;
}

.btn-inline {
  width: 100% !important;
}

.btn-half-inline {
  width: 50% !important;
}

.btn-title {
  font-family: Roboto-Regular, Roboto;
  font-weight: 500;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--main-hue-30-alpha);
  color: var(--main-hue-100-alpha);
  border-color: var(--main-hue-100-alpha);
}

.btn-primary:hover {
  background-color: var(--main-hue-50-alpha);
}

.btn-success {
  background-color: var(--success-hue-30-alpha);
  color: var(--success-hue-100-alpha);
  border-color: var(--success-hue-100-alpha);
}

.btn-success:hover {
  background-color: var(--success-hue-50-alpha);
}

.btn-warning {
  background-color: var(--warning-hue-30-alpha);
  color: var(--warning-hue-100-alpha);
  border-color: var(--warning-hue-100-alpha);
}

.btn-warning:hover {
  background-color: var(--warning-hue-50-alpha);
}

.btn-danger {
  background-color: var(--danger-hue-30-alpha);
  color: var(--danger-hue-100-alpha);
  border-color: var(--danger-hue-100-alpha);
}

.btn-danger:hover {
  background-color: var(--danger-hue-50-alpha);
}

.btn:hover {
  position: relative;
}

.btn:active {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.click-eff {
  cursor: pointer !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.click-eff:active {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--main-hue-100-alpha);
}

.input-wrapper .input-background {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.input-wrapper .controller-box {
  position: relative;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.input-wrapper .controller-box .ico {
  cursor: pointer !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  user-select: none;
  position: absolute;
  color: var(--contrast-hue-100-alpha);
}

.input-wrapper .controller-box .ico:active {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.input-wrapper .controller-box .ico:nth-child(2) {
  -webkit-transform: scaleY(0.5) scale(1.5);
          transform: scaleY(0.5) scale(1.5);
  top: -5px;
}

.input-wrapper .controller-box .ico:nth-child(1) {
  -webkit-transform: rotate(180deg) scaleY(0.5) scale(1.5);
          transform: rotate(180deg) scaleY(0.5) scale(1.5);
  bottom: -5px;
}

.input-wrapper .input {
  position: relative;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 1;
  text-align: right;
  background: none;
  outline: none;
  border: none;
  color: var(--main-hue-100-alpha);
  cursor: text;
}

.input-wrapper .type-num {
  width: 30px;
}

.input-wrapper .type-line-text {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.input-wrapper .type-line-text::-webkit-input-placeholder {
  color: var(--main-hue-50-alpha);
}

.input-wrapper .type-line-text:-ms-input-placeholder {
  color: var(--main-hue-50-alpha);
}

.input-wrapper .type-line-text::-ms-input-placeholder {
  color: var(--main-hue-50-alpha);
}

.input-wrapper .type-line-text::placeholder {
  color: var(--main-hue-50-alpha);
}

.input-wrapper .suffix {
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.height-contrast .input-background {
  border-width: 1px;
  border-style: solid;
  background-color: var(--main-hue-20-alpha);
  border-color: var(--main-hue-30-alpha);
}

.height-contrast .input:focus ~ .input-background {
  border-width: 1px !important;
  border-style: solid;
  border-color: var(--main-hue-100-alpha);
  background-color: var(--main-hue-40-alpha);
}

.low-contrast .input-background {
  border-width: 1px;
  border-style: solid;
  background-color: var(--main-hue-06-alpha);
  border-color: var(--main-hue-10-alpha);
}

.low-contrast .input:focus ~ .input-background {
  border-width: 1px !important;
  border-style: solid;
  border-color: var(--main-hue-30-alpha);
  background-color: var(--main-hue-10-alpha);
}

/* The container */
.checkbox-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--main-hue-30-alpha);
  border: solid 1.5px var(--main-hue-100-alpha);
  border-radius: 9px;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: var(--main-hue-50-alpha);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--main-hue-30-alpha);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid var(--main-hue-100-alpha);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tooltip {
  padding: 6px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: default;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.tooltip::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
}

.tooltip-top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip-top::after {
  top: -25px;
  -webkit-clip-path: polygon(50% 64%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 64%, 0% 100%, 100% 100%);
}

.tooltip-bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tooltip-bottom::after {
  bottom: -25px;
  -webkit-clip-path: polygon(50% 36%, 0% 0%, 100% 0%);
          clip-path: polygon(50% 36%, 0% 0%, 100% 0%);
}

.tooltip-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-left::after {
  left: -25px;
  height: 15px;
  -webkit-clip-path: polygon(64% 50%, 100% 0, 100% 100%);
          clip-path: polygon(64% 50%, 100% 0, 100% 100%);
}

.tooltip-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-right::after {
  right: -24.5px;
  height: 15px;
  -webkit-clip-path: polygon(36% 50%, 0 0, 0 100%);
          clip-path: polygon(36% 50%, 0 0, 0 100%);
}

.hover-btn-zero {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px;
  cursor: pointer !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  min-width: 25px;
  min-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hover-btn-zero:active {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.hover-btn-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 15px;
  cursor: pointer !important;
  -webkit-transition: 0.3s ease !important;
  transition: 0.3s ease !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 10px;
  font-family: Roboto-Bold;
}

.hover-btn-one:active {
  -webkit-transform: scale(0.9) !important;
          transform: scale(0.9) !important;
}

.form-wrapper .form-container .input-primary {
  background-color: var(--main-hue-10-alpha);
  border-color: var(--main-hue-10-alpha);
  color: var(--main-hue-100-alpha);
}

.form-wrapper .form-container .input-primary:focus {
  border-color: var(--main-hue-50-alpha);
}

.form-wrapper .form-container .input-primary:focus ~ label {
  color: var(--main-hue-100-alpha);
}

.form-wrapper .form-container .input-primary:focus ~ label::after {
  background-color: #e8eef1;
}

.form-wrapper .form-container .input-primary:valid {
  border-color: var(--main-hue-50-alpha);
}

.form-wrapper .form-container .input-primary:valid + label {
  color: var(--main-hue-100-alpha);
}

.form-wrapper .form-container .input-primary:valid + label::after {
  background-color: #e8eef1;
}

.form-wrapper .form-container .input-primary + label {
  color: var(--main-hue-50-alpha);
}

.form-wrapper .form-container .input-warning {
  background-color: var(--warning-hue-10-alpha);
  border-color: var(--warning-hue-10-alpha);
  color: var(--warning-hue-100-alpha);
}

.form-wrapper .form-container .input-warning:focus {
  border-color: var(--warning-hue-50-alpha);
}

.form-wrapper .form-container .input-warning:focus ~ label {
  color: var(--warning-hue-100-alpha);
}

.form-wrapper .form-container .input-warning:focus ~ label::after {
  background-color: #fff9e5;
}

.form-wrapper .form-container .input-warning:valid {
  border-color: var(--warning-hue-50-alpha);
}

.form-wrapper .form-container .input-warning:valid + label {
  color: var(--warning-hue-100-alpha);
}

.form-wrapper .form-container .input-warning:valid + label::after {
  background-color: #fff9e5;
}

.form-wrapper .form-container .input-warning + label {
  color: var(--warning-hue-50-alpha);
}

.form-wrapper .form-container .input-danger {
  background-color: var(--danger-hue-10-alpha);
  border-color: var(--danger-hue-10-alpha);
  color: var(--danger-hue-100-alpha);
}

.form-wrapper .form-container .input-danger:focus {
  border-color: var(--danger-hue-50-alpha);
}

.form-wrapper .form-container .input-danger:focus ~ label {
  color: var(--danger-hue-100-alpha);
}

.form-wrapper .form-container .input-danger:focus ~ label::after {
  background-color: #f7e8ea;
}

.form-wrapper .form-container .input-danger:valid {
  border-color: var(--danger-hue-50-alpha);
}

.form-wrapper .form-container .input-danger:valid + label {
  color: var(--danger-hue-100-alpha);
}

.form-wrapper .form-container .input-danger:valid + label::after {
  background-color: #f7e8ea;
}

.form-wrapper .form-container .input-danger + label {
  color: var(--danger-hue-50-alpha);
}

.form-wrapper .form-container .input-success {
  background-color: var(--success-hue-10-alpha);
  border-color: var(--success-hue-10-alpha);
  color: var(--success-hue-100-alpha);
}

.form-wrapper .form-container .input-success:focus {
  border-color: var(--success-hue-50-alpha);
}

.form-wrapper .form-container .input-success:focus ~ label {
  color: var(--success-hue-100-alpha);
}

.form-wrapper .form-container .input-success:focus ~ label::after {
  background-color: #eefaec;
}

.form-wrapper .form-container .input-success:valid {
  border-color: var(--success-hue-50-alpha);
}

.form-wrapper .form-container .input-success:valid + label {
  color: var(--success-hue-100-alpha);
}

.form-wrapper .form-container .input-success:valid + label::after {
  background-color: #eefaec;
}

.form-wrapper .form-container .input-success + label {
  color: var(--success-hue-50-alpha);
}

.form-wrapper {
  padding: 30px !important;
}

.form-wrapper .form-container {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper .form-container .form-row-1:last-child {
  margin-bottom: 0;
}

.form-wrapper .form-container .form-row-1 {
  margin-bottom: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: 100%;
}

.form-wrapper .form-container .form-row-2 {
  margin-bottom: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
  width: 100%;
}

.form-wrapper .form-container .form-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form-wrapper .form-container .form-element .form-element-error {
  position: absolute;
  font-size: .8em;
  right: 15px;
  bottom: -18px;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-wrapper .form-container .form-element label {
  position: absolute;
  left: 15px;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-wrapper .form-container .form-element label::after {
  content: "";
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  width: 0%;
  height: 50%;
  left: 0;
  bottom: 1px;
  z-index: -1;
}

.form-wrapper .form-container .form-element .input-form:focus ~ label {
  left: 50%;
  top: -7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.8em;
  z-index: 2;
  padding: 0 15px;
}

.form-wrapper .form-container .form-element .input-form:focus ~ label::after {
  width: 100%;
}

.form-wrapper .form-container .form-element .input-form:valid + label {
  left: 50%;
  top: -7px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.8em;
  z-index: 2;
  padding: 0 15px;
}

.form-wrapper .form-container .form-element .input-form:valid + label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.form-wrapper .form-container .form-element .input-form:valid {
  border-width: 1px !important;
  border-style: solid;
}

.form-wrapper .form-container .form-element .input-form {
  border-width: 1px;
  border-style: solid;
  cursor: text;
  width: 100%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form-wrapper .form-container .form-element .input-form:focus {
  border-width: 1px !important;
  border-style: solid;
}

.form-wrapper .form-container .form-element .input-number {
  text-align: center;
  font-size: 2rem;
  width: 20px;
  padding: 25px 15px;
}

.form-wrapper .form-container .form-element .input-number::-webkit-input-placeholder {
  color: var(--main-hue-30-alpha);
}

.form-wrapper .form-container .form-element .input-number:-ms-input-placeholder {
  color: var(--main-hue-30-alpha);
}

.form-wrapper .form-container .form-element .input-number::-ms-input-placeholder {
  color: var(--main-hue-30-alpha);
}

.form-wrapper .form-container .form-element .input-number::placeholder {
  color: var(--main-hue-30-alpha);
}

.form-wrapper .form-container .form-element .input-number:invalid {
  background-color: var(--warning-hue-10-alpha);
  border-color: var(--warning-hue-10-alpha);
  color: var(--warning-hue-100-alpha);
}

.form-wrapper .form-container .form-buttons {
  width: 100%;
}

.form-wrapper .form-container .form-buttons .form-buttons-other {
  margin-bottom: 25px;
  width: 100%;
}

.soft-border {
  border-radius: 10px;
}

.sharp-border {
  border-radius: 4px;
}

.rounded-border {
  border-radius: 1000px;
}

.init-border {
  border-width: 1px;
  border-style: solid;
  padding: 15px;
}

.line-bottom {
  border-bottom: solid 1px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.line-top {
  border-top: solid 1px;
  padding-top: 20px;
  margin-top: 25px;
}

.module-off {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: .5;
}

.module-on {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.primary-adapt,
.contrast-adapt {
  font-size: 1rem;
  font-family: inherit;
}

.primary-adapt {
  background-color: var(--main-hue-100-alpha);
  color: var(--contrast-hue-100-alpha);
}

.primary-adapt .hover-btn-one:hover {
  color: var(--main-hue-100-alpha) !important;
  background-color: var(--contrast-hue-30-alpha) !important;
}

.primary-adapt .hover-btn-zero:hover {
  background-color: var(--contrast-hue-10-alpha);
}

.primary-adapt .tooltip {
  background-color: var(--contrast-hue-30-alpha);
}

.primary-adapt .tooltip::after {
  background-color: var(--contrast-hue-30-alpha);
}

.contrast-adapt {
  background-color: var(--contrast-hue-100-alpha);
  color: var(--main-hue-100-alpha);
}

.contrast-adapt .hover-btn-one:hover {
  color: var(--contrast-hue-100-alpha) !important;
  background-color: var(--main-hue-30-alpha) !important;
}

.contrast-adapt .hover-btn-zero:hover {
  background-color: var(--main-hue-10-alpha);
}

.contrast-adapt .tooltip {
  background-color: var(--main-hue-30-alpha);
}

.contrast-adapt .tooltip::after {
  background-color: var(--main-hue-30-alpha);
}

.w-100 {
  width: 100%;
}
